*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url(../image/image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-top: 25px;
    }
ul li a{
    text-decoration: none;
    color: red;
    padding:5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: green;
    color: #000000
}

.logo img{
    margin-top: 10px;
    float: left;
    width: 100px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.title h1 {
    color: tomato;
    font-size: 70px;
}

.Button {
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: red;
    text-decoration: none;   
}

.btn:hover{
    background-color: rgb(114, 250, 148);
}

